# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CodingDojo.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\user\RiderProjects\Coding_Dojo_20210306\.idea\.idea.CodingDojo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
